# /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon
After=network.target

[Service]
WorkingDirectory=/opt/dist2/distancia2-api
ExecStart=/opt/dist2/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/opt/dist2/distancia2.sock distancia2.wsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
